*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

@font-face {
  font-family: RobotoThin;
  src: url('./fonts//Roboto-Thin.ttf');
}
@font-face {
  font-family: RobotoLight;
  src: url('./fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: RobotoRegular;
  src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: RobotoBold;
  src: url('./fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: RobotoBlack;
  src: url('./fonts/Roboto-Black.ttf');
}

.section {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
  list-style: none;
}

img {
  display: none;
}
